@import 'normalize';
@import 'mixins';
@import 'fonts';
@import 'header';
@import 'footer';




.header__body{
    
  background: url('../img/maxresdefault.jpg');
    
    font-family: "StyleScript-Regular";
    &__h1{
      color: rgb(69, 42, 165);
    }
}

.icon {
  width: 150px;
  height: 150px;
}



