@import 'normalize';
@import 'mixins';
@import 'fonts';
@import 'header';
@import 'footer';
@import 'var';

// Пример 
// .icon-avatar{
//   display: inline-block;
//   width: 30px;
//   height: 30px;
//   fill: $icon-color;
//   margin: 5px;
// }


.header__body{
    
  background: url('../img/maxresdefault.jpg');
    
    font-family: "StyleScript-Regular";
    &__h1{
      color: rgb(69, 42, 165);
    }
    
}


.icon-avatar{
  display: inline-block;
  width: 30px;
  height: 30px;
  fill: $icon-color;
  margin: 5px;
}

.icon-book{
  display: inline-block;
  width: 30px;
  height: 30px;
  fill: $icon-color;
  margin: 5px;
}


